.video__page .player__container{
    margin: 2rem auto;
    position: relative;
    width: 720px;
    height: 360px;
}

.video__page .video__player{
    cursor: pointer;
}

.video__page .video__player:hover::after{
    content: "";
    height: 1rem;
    width: 1rem;
    clip-path: circle();
    background: yellow;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}

@media screen and (max-width: 768px){
    .video__page .player__container{
        padding: 1rem 0;
        width: 95vw;
        height: 60vw;
    }
}