.home__page__title{
    text-align: center;
}
.routes{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.routes{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}